//
//
// Variables
// 
//

// =========================================================================
//  Text Colors
// ========================================================================








// =========================================================================
//  Font Family
// ========================================================================= */

$open: 'Open Sans', sans-serif;
$fan:   'Fanwood Text', serif;
// =========================================================================
// Gradients
// =========================================================================



// =========================================================================
// Backgrounds
// =========================================================================

$black: #131212;



// =========================================================================
// Border colors
// =========================================================================

