/* =========================================================================
Base
  ========================================================================= */
html, 
body { 
	height: 100%; 
	width: 100%;
	padding: 0; 
	margin: 0; 
	// background: #fff;
	
}

.main-posts{
		height: auto;
		position: relative;
		background: #fff;
		padding: 0;	
		z-index: 9;

		.post{
			padding: 0;
			margin:0;
		}

		.thumbnail {
		     padding: 0;
		     border: none;
		     border-radius: 0; 
		     margin-bottom: 0;
		     position: relative;
		     overflow: hidden;

		     @media screen and (min-width: 768px) {
	    		&:hover .box-overlay{
		    		opacity: 1;
					top: 0;
				}
			}

			img{
		     	width: 100%;
		    }

	    	.box-overlay{
				position: absolute;
				opacity: 0;
				top: 100%;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, .5);
				transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;

				.box-caption{
					position: relative;
				    top: 50%;
				    transform: translateY(-50%);
				    width: 100%;
				    padding: 65px;
				    text-align: center;

				    h3{
						color: #fff;
						font-size: 40px;
						font-family: $open;
						padding: 0;
						line-height: 1.1;
						
						 @media screen and (max-width: 640px) {
						 	font-size: 40px;
						 }

						 p{
							font-size: 22px;
							padding: 50px 0;
						}
					}

					.btn{
							border: 2px solid #fff;
							border-radius: 0;
							color: #fff;
							padding: 15px 60px;
							font-family: $open;
					}
				}
			}
		}
}

.wow {
   visibility: hidden;
}

.show_me{
	opacity: 1 !important;
	top: 0 !important;
}