.posts-template{
	margin-top: 144px;
	background: #fff;

	.loader{
		min-height: 80vh;
		width: 100%;
		background: #fff;
		text-align: center;
		position: fixed;
		top:144px;
		z-index: 100000;
		display: none;

		.pulse{
			display: block;
			width: 30px;
			height: 30px;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin: auto;
			transform: translateY(-50%);
		}
	}
}







