
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=20a176d3dd3ee3a37d1d1b1ae9f4c352
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress