
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=3e729486d96ecd297c26039c2e35330c
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress